<!DOCTYPE html>
<html>
  <head>
    <title>Simulation</title>

    <script src="/static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="/static/lib/underscore-min.js" type="text/javascript"> </script>
    <script src="/static/lib/backbone-min.js" type="text/javascript"> </script>
    <script src="/static/lib/d3.v3.min.js" type="text/javascript"> </script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

x
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jspsych.css" type="text/css" />
    <style type="text/css">
        .likert ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .likert li
    {
        float: left;
        text-align: left;
        list-style-type: none;
        padding:10px;
    }
    .table-info
    {
        float: right;
        text-align: center;
        padding: 50px;
    }

    .pre_info{
        float: center;
        text-align: center;
    }
    </style>
  </head>
  <body>
    <div id="container-instructions" class="text-center">
    <div id="preamble" class="pre_info">
        <h1>Participant gameplay</h1> <hr/>
        <div id = "info_main"></div>
    </div>
    <h2 id="debug"></h2><br><br><br>
    <div class="row justify-content-around">
        <div class="col"></div>
        <div class="col"><canvas id="game" width="750" height="650"></canvas></div>
        <div id="table_controlinfo"></div>
        <div class="col"></div>
    </div>
    <div id="survey">
        <!-- <h3> Did this sequence improve your understanding of the game strategy?</h3>
        <ul class="likert">
            <li> Not helpful/informative at all </li>
            <li><input type="radio" name="info" value="1" /></li>
            <li><input type="radio" name="info" value="2" /></li>
            <li><input type="radio" name="info" value="3" /></li>
            <li><input type="radio" name="info" value="4" /></li>
            <li><input type="radio" name="info" value="5" /></li>
            <li> Very helpful/informative </li>
        </ul>
        <br></br> -->
    </div>
    <hr>
    <br>
    <div class="instructionsnav">
        <div class="row justify-content-around">
          <div class="col-xs-3">
            <button type="button" id="prev" onclick="prev()" value="previous" class="btn btn-primary btn-lg continue"> Previous <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
          </div>
          <div class="col-xs-3">
                <button type="button" id="next" disabled
            onclick="next()"
            value="next" class="btn btn-primary btn-lg continue">
            Next <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          </div>
        </div>
    </div>
    <br>
    <br>
    </div>

    <script>
        var socket = io();
        socket.on("connect", function () {
            // if (localStorage.getItem("progress") === "sandbox_1") {
            //     socket.emit("sandbox settings", { version: 1 });
            // }
            // else if (localStorage.getItem("progress") === "sandbox_2") {
            //     socket.emit("sandbox settings", { version: 2 });
            //     $("button").replaceWith(`<button type="button" disabled id="next" 
            //         onclick="make_sandbox()"
            //         value="next" class="btn btn-primary btn-lg continue">
            //         Next <span class="glyphicon glyphicon-arrow-right"></span>
            //         </button>` );
            // }
            let data = {};
            // data["domain"] = localStorage.getItem("domain");
            // data["interaction type"] = localStorage.getItem("interaction type");
            // data["iteration"] = Number(localStorage.getItem("iteration"));
            // data["subiteration"] = Number(localStorage.getItem("subiteration"));
            data["user input"] = JSON.parse(localStorage.getItem("user input"));
            data["movement"] = localStorage.getItem("movement");
            socket.emit("settings", data);
        });

        socket.on("settings configured", function (data) {
            mdp_parameters = data["params"]; 
            interaction_type = data["interaction type"]; // types possible: demo, diagnostic test, diagnostic feedback, remedial demo, remedial test, remedial feedback, final test
            localStorage.setItem("seen", data["seen"]);
            $("#debug").html(data["debug string"]);
            if (data["last test"]) {
                localStorage.setItem("last test", "true");
            }
            console.log(mdp_parameters);
            console.log("Interaction: ");
            console.log(interaction_type);
            change_text(interaction_type);
            run_page(mdp_parameters);
        });

        // Assign html for interaction type 
        function change_text(interaction_type){  
        console.log("changing text")
        if (interaction_type == "diagnostic test" || interaction_type == "remedial test" || interaction_type == "final test") {
            $("#table_controlinfo").replaceWith(`<div class="col"><div><br><br><br><br>
        <table width="500">
            <tr><th>Key</th><th>Action</th></tr>
            <tr><td>up/down/left/right arrow keys</td><td>corresponding movement</td></tr>
            <tr><td>p</td><td>pick up</td></tr>
            <tr><td>d</td><td>drop</td></tr>
            <tr><td>r</td><td>reset simulation</td></tr>
        </table>
        <br></div></div>`);
            $("#info_main").replaceWith('<h3>Now its your turn to play six games! Please demonstrate how you would complete this games task while minimizing Chips energy loss.</h3>You <b>may reset</b> at any time <b>before the game ends</b> if think you have made a mistake.<br> <h3>Please answer the question below on the confidence of your gameplay <b>after</b> providing your demonstration.</h3>');
            }
        else {
            $("#table_controlinfo").replaceWith(`<div class="col"><div><br><br><br>
        <table width="500">
            <tr><th>Key</th><th>Action</th></tr>
            <tr><td>space bar</td><td>next movement</td></tr>
            <tr><td>p</td><td>pick up</td></tr>
            <tr><td>d</td><td>drop</td></tr>
            <tr><td>r</td><td>reset simulation</td></tr>
        </table>
        <br></div></div>`);
            $("#info_main").replaceWith('<h3> Look at the demonstration on how you should complete this games task while minimizing Chips energy loss.</h3><h3>Please answer the question below on the confidence of your <b>understanding</b> of the demonstration.</h3>');
        }
        }        function prev() {
            localStorage.setItem("movement", "prev");
            window.location.href="/ct";
        }

        function next() {
            localStorage.setItem("movement", "next");
            if (localStorage.getItem("last test") === "true") {
                localStorage.setItem("last test", "false");
                socket.emit("next domain");
                socket.on("next domain is", function(data) {
                    console.log("I have received next domain");
                    let url = "";
                    if (data["domain"].length === 2){
                        url = "/".concat(data["domain"], "_intro");
                    }
                    else {
                        url = "final_survey";
                    }
                    window.location.href=url;
                });
            }
            else {
                window.location.href='/ct';
            }
        }

        addEventListener("input", (event) => {
            localStorage.setItem("survey completed", "true");
            $("#next").replaceWith(`<button type="button" id="next" 
                    onclick="next()"
                    value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>` );
        });

        function run_page(mdp_parameters) {
    var canvas = document.getElementById("game");
    var context = canvas.getContext("2d");

    // variables for parent window
    var final_data = [];
    var data_sent = false;

    var start_time = 0;
    var start_time_set = false;
    var moves = [];
    var agent_history = [];


    var offset_x = 1;
    var offset_y = 0.75;

    // var mdp_parameters = window.parent.mdp_parameters;

    // var watched_vid_arr = window.parent.watched_vid_arr;
    // var current_page = window.parent.current_page;

    var text_color = "#394d7e";

    var map_layout = {};

var spaceship =
      {
          color: "#628dbe",
          width: 65,
          height: 130,
          grid_loc:
          {
              x: 0,
              y: 0
          },
          taxi_set: false
      }

      function build_grid(){
        //create a grid
        temp = [];
        for (i = 0; i < mdp_parameters.height; i++) {
            temp.push([0]);
        }
        for (j = 0; j < mdp_parameters.height-1; j++) {
            for (k = 0; k < mdp_parameters.width-1; k++) {
                temp[j].push(0)
            }
        }
        return temp;
      }

    function set_grids()
      {
        //set location of taxi
        spaceship.grid_loc.x =  (mdp_parameters.agent.x-1) + offset_x;
        spaceship.grid_loc.y =  (mdp_parameters.height - mdp_parameters.agent.y) + offset_y;
        spaceship.grid_loc.x =  (mdp_parameters.agent.x-1) + offset_x;
        spaceship.grid_loc.y =  (mdp_parameters.height - mdp_parameters.agent.y) + offset_y;
        agent_history.push([spaceship.grid_loc.x, spaceship.grid_loc.y])
        spaceship.taxi_set = true;
        //set destination
        destination_grid = build_grid();
        destination_grid[mdp_parameters.height - mdp_parameters.goal.y][mdp_parameters.goal.x-1] = 1;
        map_layout.destination = destination_grid;

        //set A tiles
        color_locs = build_grid();
        for (i = 0; i < mdp_parameters.A_tiles.length; i++) {
            color_locs[mdp_parameters.height - mdp_parameters.A_tiles[i].y][mdp_parameters.A_tiles[i].x-1] = 1;
        }

        //set B tiles
        for (i = 0; i < mdp_parameters.B_tiles.length; i++) {
            color_locs[mdp_parameters.height - mdp_parameters.B_tiles[i].y][mdp_parameters.B_tiles[i].x-1] = 2;
        }
        map_layout.color_blocks = color_locs;
      }

      function drawTaxi()
      {
          if (spaceship.taxi_set == false){
            taxiSet();
          }
          context.save();
          context.beginPath();
          context.translate(100*(spaceship.grid_loc.x) + 50, 100*(spaceship.grid_loc.y) + 150);

              context.lineTo(-spaceship.width * 0.5 , -spaceship.height * 0.5);
              context.lineTo(0, -spaceship.height);
              context.lineTo(-spaceship.width * -0.5, -spaceship.height * 0.5);

          context.fillStyle = spaceship.color;
          context.fill();
          context.closePath();
          context.restore();
      }

      function drawDestination()
      {
          context.save();
          context.beginPath();
          var i = 0;
          var j = 0;

          for (i = 0; i < mdp_parameters.height; i++) {
              for (j = 0; j < mdp_parameters.width; j++) {
                  if (map_layout.destination[i][j] == 1){

                      context.beginPath();
                      context.rect(100*j + 15+offset_x*100+5, 100*i + 15 + offset_y*100+7, 60,55);
                      context.fillStyle = "rgb(162, 167, 152)";
                      context.fill();
                      context.closePath();
                  }
              }
          }
          context.restore();
      }

    function drawAgentHistory()
    {
        context.save();
        for (j = 0; j < agent_history.length; j++) {
            context.beginPath();
            if (j == 0) {
                context.rect(agent_history[j][0]*100 + 37, agent_history[j][1]*100 + 48, 25, 4);
                context.fillStyle = '#677387';
            }
            context.arc(agent_history[j][0]*100 + 50, agent_history[j][1]*100 + 50, 6, 0, 2 * Math.PI);
            context.fillStyle = '#677387';
            context.fill();
            context.closePath();
        }
        context.restore();
    }

    function drawMap()
    {
        context.save();
        var i;
        var j;
        for (i = 0; i < mdp_parameters.height; i++) {
            for (j = 0; j < mdp_parameters.width; j++) {
                // draw A tiles
                if (map_layout.color_blocks[i][j] == 1){
                    context.beginPath();
                    context.rect(4 + 100*j+offset_x*100, 4+100*i + offset_y*100, 92, 92);
                    context.fillStyle = "#C88B66";
                    context.fill();
                    context.closePath();
                }
                // draw B tiles
                if (map_layout.color_blocks[i][j] == 2){
                    context.beginPath();
                    context.arc(100*j + 50+offset_x*100, 100*i + 50 + offset_y*100, 40, 0, 2 * Math.PI);
                    context.fillStyle = "#588B66";
                    context.fill();
                    context.closePath();

                    context.beginPath();
                    context.arc(100*j + 50+offset_x*100, 100*i + 50 + offset_y*100, 33, 0, 2 * Math.PI);
                    context.fillStyle = "white";
                    context.fill();
                    context.closePath();

                }
            }
        }
        context.restore();
    }

    function start_screen() {
        if (!map_layout.set){
            set_grids();
            map_layout.set = true;
        }
        // Clear entire screen
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.beginPath();
        context.fillStyle = "black";
        context.fill();
        context.closePath();

        context.font = "30px Arial";
        context.fillStyle = text_color;
        context.textAlign = "center";
        context.fillText("Click on the game below to start controlling Chip", offset_x*100+270, 50);

        //draw grid
        for (i = 0; i <= mdp_parameters.height; i++) {
            context.beginPath();
            context.moveTo(0+offset_x*100, 100*i-1+offset_y*100);
            context.lineTo(0+offset_x*100, 100*i+1+offset_y*100);
            context.lineTo(mdp_parameters.width*100+offset_x*100, 100*i+1+offset_y*100);
            context.lineTo(mdp_parameters.width*100+offset_x*100, 100*i-1+offset_y*100);
            context.fillStyle = "black";
            context.fill();
            context.closePath();
        }
        for (i = 0; i <= mdp_parameters.width; i++) {
            context.beginPath();
            context.moveTo(100*i-1+offset_x*100, 0+offset_y*100);
            context.lineTo(100*i+1+offset_x*100, 0+offset_y*100);
            context.lineTo(100*i+1+offset_x*100, mdp_parameters.height*100+offset_y*100);
            context.lineTo(100*i-1+offset_x*100, mdp_parameters.height*100+offset_y*100);
            context.fillStyle = "black";
            context.fill();
            context.closePath();
        }

        context.beginPath();
        // Begin drawing
        drawMap();
        drawDestination();
        drawTaxi();
    }

    function record_data(){
        var end_time = performance.now();

        // record whether the user got the optimal trajectory or not
        same_traj = false;
        for (var j = 0; j < mdp_parameters.all_opt_actions.length; j++) {
            opt_moves = mdp_parameters.all_opt_actions[j]
            if (moves.length == opt_moves.length) {
                for (var k = 0; k < moves.length; k++) {
                    if (moves[k] != opt_moves[k]) {
                        // if one move differs, no need to consider other moves. they're not the same trajectory
                        break;
                    }
                }

                // if you've found a matching trajectory, no need to check other trajectories
                if (k == moves.length) {
                    same_traj = true;
                    break;
                }
            }
        }

        //console.log('colored_tiles_' + mdp_parameters.test_difficulty + '_' + mdp_parameters.tag.toString());
        //console.log(same_traj);

        // the two test demonstrations at each level of difficulty are always pairs of an even and odd number
        if (mdp_parameters.tag % 2 == 0) {
            sessionStorage.setItem('colored_tiles_' + mdp_parameters.test_difficulty + '_a', same_traj)
        }
        else {
            sessionStorage.setItem('colored_tiles_' + mdp_parameters.test_difficulty + '_b', same_traj)
        }

        final_data = JSON.stringify({
            'simulation_rt': (end_time - start_time),
            'moves': moves,
            'opt_response': same_traj
        });

        var event = new CustomEvent("game-completed", { "detail": "Demonstration has now ended." });
        document.dispatchEvent(event);

        localStorage.setItem("user input", final_data);

        data_sent = true
    }

      function draw()
      {
          if (!start_time_set) {
              start_time = performance.now();
              start_time_set = true
          }

          if (!map_layout.set){
            set_grids();
            map_layout.set = true;
          }
          // Clear entire screen
          context.clearRect(0, 0, canvas.width, canvas.height);
          context.beginPath();
          context.fillStyle = "black";
          context.fill();
          context.closePath();


          //draw grid
          for (i = 0; i <= mdp_parameters.height; i++) {
                context.beginPath();
                context.moveTo(0+offset_x*100, 100*i-1+offset_y*100);
                context.lineTo(0+offset_x*100, 100*i+1+offset_y*100);
                context.lineTo(mdp_parameters.width*100+offset_x*100, 100*i+1+offset_y*100);
                context.lineTo(mdp_parameters.width*100+offset_x*100, 100*i-1+offset_y*100);
                context.fillStyle = "black";
                context.fill();
                context.closePath();
          }
          for (i = 0; i <= mdp_parameters.width; i++) {
                context.beginPath();
                context.moveTo(100*i-1+offset_x*100, 0+offset_y*100);
                context.lineTo(100*i+1+offset_x*100, 0+offset_y*100);
                context.lineTo(100*i+1+offset_x*100, mdp_parameters.height*100+offset_y*100);
                context.lineTo(100*i-1+offset_x*100, mdp_parameters.height*100+offset_y*100);
                context.fillStyle = "black";
                context.fill();
                context.closePath();
          }

          context.beginPath();
          // Begin drawing
          drawMap();
          drawAgentHistory()
          drawDestination();
          drawTaxi();

        if(map_layout.destination[spaceship.grid_loc.y-offset_y][spaceship.grid_loc.x-offset_x] == 1)
        {
            context.font = "bold 28px Arial";
            context.fillStyle = text_color;
            context.textAlign = "center";
            context.fillText("Game completed!", (mdp_parameters.width*100)/2+offset_x*100, (mdp_parameters.height*100)/2+offset_y*100+300);
            // watched_vid_arr[current_page] = true;
            if (data_sent == false) {
                record_data()
            }

            $("#survey").replaceWith(`<h3> Did this sequence improve your understanding of the game strategy?</h3>
        <ul class="likert">
            <li> Not helpful/informative at all </li>
            <li><input type="radio" name="info" value="1" /></li>
            <li><input type="radio" name="info" value="2" /></li>
            <li><input type="radio" name="info" value="3" /></li>
            <li><input type="radio" name="info" value="4" /></li>
            <li><input type="radio" name="info" value="5" /></li>
            <li> Very helpful/informative </li>
        </ul>
        <br></br>` );
        }
      }

function onGoal()
{
    if (map_layout.destination[spaceship.grid_loc.y-offset_y][spaceship.grid_loc.x-offset_x] == 1) {
        return true
    }
    else {
        return false
    }
}
    function left () {
        if (onGoal()){
            return;
        }
        if (spaceship.grid_loc.x > offset_x){
            spaceship.grid_loc.x -= 1;
            moves.push("left");
        }
    }

    function right () {
        if (onGoal()){
            return;
        }
        if (spaceship.grid_loc.x < mdp_parameters.width-1+offset_x){
            spaceship.grid_loc.x += 1;
            moves.push("right");
        }
    }

    function up() {
        if (onGoal()){
            return;
        }
        if (spaceship.grid_loc.y > offset_y){
            spaceship.grid_loc.y -= 1;
            moves.push("up");
        }
    }

    function down() {
        if (onGoal()){
            return;
        }
        if (spaceship.grid_loc.y < mdp_parameters.height-1+offset_y){
            spaceship.grid_loc.y += 1;
            moves.push("down");
        }
    }

    function reset () {
        if (onGoal()){
            if (mdp_parameters.tag == - 1) {
                map_layout.destination[spaceship.grid_loc.y-offset_y][spaceship.grid_loc.x-offset_x] = 0;
            }
            else {
                return;
            }
        }
        moves = [];
        map_layout.set = false;
        agent_history = [];
    }

    var idx = 0;

    function keyPressed(event)
    {
        if (mdp_parameters.tag == - 1) {
            //training case, just pushing move from opt_actions           
            if (event.keyCode == 32) {
                //space bar pressed, advance demo
                var next_action = mdp_parameters.opt_actions[idx];
                idx++;
                switch(next_action) {
                    case "left":
                        left();
                        break;
                    case "right":
                        right();
                        break;
                    case "up":
                        up();
                        break;
                    case "down":
                        down();
                        break;
                }
                agent_history.push([spaceship.grid_loc.x, spaceship.grid_loc.y]);
                requestAnimationFrame(draw);
            }
            else if (event.keyCode == 82) {
                idx = 0;
                reset();
                requestAnimationFrame(draw);
            }
        }
        
        else {
            //testing case
            // prevent arrow keys from simultaneously moving the window
            if([37, 38, 39, 40].indexOf(event.keyCode) > -1) {
                event.preventDefault();
            }
            switch(event.keyCode)
            {
                case 37:
                    // Left Arrow key
                    left();
                    break;
                case 39:
                    // Right Arrow key
                    right();
                    break;
                case 38:
                    // Up Arrow key
                    up();
                    break;
                case 40:
                    // down Arrow key
                    down();
                    break;
                case 82:
                    //r key
                    reset();
                    break;
            }
            if (event.keyCode != 82) agent_history.push([spaceship.grid_loc.x, spaceship.grid_loc.y]);
            requestAnimationFrame(draw);
        }
    }
    // document.addEventListener('keydown', _.debounce(keyPressed, 200)) // prevent quick key presses
    document.addEventListener('keydown', keyPressed);
    start_screen();
    canvas.addEventListener('click', draw);
    context.restore();
}
    </script>
  </body>
</html>