<link rel="stylesheet" href="../../static/css/style.css" type="text/css" />

<div id="container-instructions">

	<h2>Introduction</h2>

	<hr />

	<div class="instructions well">
        <h3>
            Thank you for agreeing to participate in our study!
        </h3>

        <br>

        <div align="justify">

        <p>This study must be completed on a desktop or laptop on a supported browser (Chrome, Firefox, or Safari).</p>

            <p>This task may take up to twenty-five minutes. <br> </p>

        <p><u>Please do not restart the study at any point</u> by closing and reopening the popup or by refreshing the page, as we will have to throw
            out your data and may ask you to return your submission. Thank you!<br></p>

            <p>Finally, directions for compensation will be presented upon completion.</p>

        <p>Let's begin the study with a brief overview! </p>

            <br>
<p>**Note: We recommend maximizing this window and viewing the study in full screen for the best experience! </p>
</div>
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" 
                onclick="window.location.href='/overview'"
                class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>