<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<!-- <script type="module">
  import socket from "/static/lib/socket.js";
  console.log(socket);
  window.socket = socket;
</script> -->
<script>
  // import socket from "/static/lib/socket.js";
  function make_sandbox() {
    console.log("I am getting called!")
    // $.ajax({
    //         type: "POST",
    //         url: "/sandbox",
    //         data: JSON.stringify({preamble: "sandbox_2_header"}),
    //         success: function(data){
    //           const htmlString = data['data'];
    //           console.log(htmlString)
    //           const parser = new DOMParser();
    //           const html = parser.parseFromString(htmlString, 'text/html');
    //           document.getElementsByTagName('body')[0].innerHTML = htmlString;
    //         },
    //         contentType: "application/json",
    //         dataType: "json"
    //       });
    var socket = io();
    
    socket.emit('make sandbox', {version: 1});
    // socket.on("connect", function() {socket.emit('make sandbox', {version: 1})});
    socket.on('made sandbox', function() {
      localStorage.setItem("progress", "sandbox_1");
      window.location.assign("/sandbox");
    });
  };
</script>

<div id="container-instructions">

<h2>Welcome to the practice game!</h2>
    <hr />
    <div class="instructions well">

        <p> All games will consist of <b>locations </b> (e.g. <img src = 'static/img/star.png' width="20" height=auto /> in this practice game), <b>objects that you can pick up and drop</b> (e.g. <img src = 'static/img/pentagon.png' width="20" height=auto />), <b>objects that you can move through</b> (e.g. <img src = 'static/img/diamond.png' width="20" height=auto />), and <b>walls </b>that you can't move through (<img src = 'static/img/wall.png' width="20" height=auto />).</p>
        <p> Each game will have <b>multiple possible configurations </b>(like the two below).</p> <br>

                <img src = 'static/img/sandbox_updated1.png' width="300" height=auto hspace="20"/>
                        <img src = 'static/img/sandbox_updated2.png' width="300" height=auto />

        <br>
        <br>
        <br>

        <p>Each game will have a <b>task that you must complete</b> while <b>minimizing your energy loss</b>. In this game, the task is the following:</p>

        <table class="center">
          <tr>
            <th>Task</th>
            <th>Sample sequence</th>
          </tr>
          <tr>
            <td>Dropping off the green pentagon at the purple star</td>
            <td><img src = 'static/img/sandbox_dropoff1.png' width="75" height=auto />
            <img src = 'static/img/arrow.png' width="30" height=auto />
            <img src = 'static/img/sandbox_dropoff2.png' width="75" height=auto />
            </td>
          </tr>
        </table>
    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" 
                onclick="make_sandbox()"
                value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

