{% extends "base.html" %} {% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>

<div id="consent">
   <h3>Online Consent for Participation</h3>
    <p>
        This study is part of a research study conducted by Dr. Henny Admoni at Carnegie Mellon University and is funded by NSF, Paralyzed Veterans of America, and the Office of Naval Research.
    </p>
    <p>
        The purpose of the research is to evaluate and compare different methods for teaching autonomous agent behaviors to humans.
    </p>
    <p>
        <b>
            Procedures    
        </b>
        <br>
        You will be asked to view demonstrations of agent behavior and predict agent behavior in new scenarios. {{procedure}}
    </p>
    <p>
        <b>
            Participation Requirements    
        </b>
        <br>
        You must be above the age of 18.
    </p>
    <p>
        <b>
            Risks
        </b>
        <br>
        The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life.
    </p>
    <p>
        <b>
            Benefits
        </b>
        <br>
        There may be no personal benefit from your participation in the study but the knowledge received may be of value to Robotics research at Carnegie Mellon University.
    </p>
    
    <p>
        <b>
            Compensation & Costs
        </b>
        <br>
        You will be compensated at a competitive online rate.

        There will be no cost to you if you participate in this study. 

    </p>
    
    <p>
        <b>
            Confidentiality 
        </b>
        <br>
        The data captured for the research does not include any personally identifiable information about you.  Your IP address will not be captured. Study sponsors may have access to research records.
    </p>
    
    <p>
        <b>
            Right to Ask Questions & Contact Information  
        </b>
        <br>
        If you have any questions about this study, you should feel free to ask them by contacting the Principal Investigator now at the address below. If you have questions later, desire additional information, or wish to withdraw your participation please contact the Principal Investigator.  
        <br>
        <p class="tab">
            Dr. Henny Admoni<br>
            The Robotics Institute<br>
            Carnegie Mellon University<br>
            5000 Forbes Avenue<br>
            Pittsburgh, PA, 15213<br>
            Email: henny@cmu.edu    <br>
            (412) 268-7939<br>
        </p>
        <br>
        If you have questions pertaining to your rights as a research participant; or to report concerns to this study, you should contact the Office of Research integrity and Compliance at Carnegie Mellon University.  Email: irb-review@andrew.cmu.edu. Phone: 412-268-1901 or 412-268-5460.

    </p>
    
    <p>
        <b>
            Voluntary Participation    
        </b>
        <br>
        Your participation in this research is voluntary. You may discontinue participation at any time during the research activity. By continuing, you certify that you have read and understood the information above and want to participate in this research.
    </p>

    <div style="padding: 1em; margin: 1em;">
        <button id="sign_consent" type="button" class="btn btn-primary" onclick="hideconsent()">I am 18 years of age or older, have read and understood the information above, and want to participate in this research.</button>
    </div>

</div>

<script>
    function hideconsent() {
        $.getJSON('/sign_consent', 
        function callback(data) {
          console.log(data)
          window.location.replace(data['url']);
        });
        document.getElementById("consent").hidden = true;
        // document.getElementById("demographics").hidden = false;
        // window.scrollTo(0, 0);
    }
</script>

<div id="demographics" hidden>
    <h2>Demographic Information and Consent Confirmation</h2>

    <form action="" method="post">
        <div style="padding: 1em; margin: 1em;">
            <h4>Please select your age</h4>
            {% for subfield in form.age %}
            <div class="form-check form-check-inline">
                {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %} {% for error in form.age.errors %}
            <span style="color: red;">{{ error }}</span> {% endfor %}
        </div>
        <div style="padding: 1em; margin: 1em;">
            <h4>Please select the gender that you identify best with.</h4>
            {% for subfield in form.gender %}
            <div class="form-check form-check-inline">
                {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %} {% for error in form.gender.errors %}
            <span style="color: red;">{{ error }}</span> {% endfor %}
        </div>
        <div style="padding: 1em; margin: 1em;">
            <h4>Please select the ethnicity you identify best with.</h4>
            {% for subfield in form.ethnicity %}
            <div class="form-check">
                {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %} {% for error in form.ethnicity.errors %}
            <span style="color: red;">{{ error }}</span> {% endfor %}
        </div>
        <div style="padding: 1em; margin: 1em;">
            <h4>Please select the highest level of school you have completed or the highest degree you have received.</h4>
            {% for subfield in form.education %}
            <div class="form-check">
                {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %} {% for error in form.education.errors %}
            <span style="color: red;">{{ error }}</span> {% endfor %}
        </div>
        <div style="padding: 1em; margin: 1em;">
            <h4>How familiar are you with robots?</h4>
            {% for subfield in form.robot %}
            <div class="form-check form-check-inline">
                {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %} {% for error in form.robot.errors %}
            <span style="color: red;">{{ error }}</span> {% endfor %}
        </div>
        {{ form.hidden_tag() }} {{ form.submit_consent(class="btn btn-primary btn-lg w-100") }}
    </form>
</div>


{% endblock %}